.movie-container {
  width: 100% !important;

  .movie-card {
    margin-top: 12px !important;
  }
}

.page-title-text {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}
